.user-container {
    display: flex;
    border-bottom: solid 1px #9b9b9b;
    height: 80px;
}

.icon-container {
    position: relative;
    top: 5px;
    left: 5px;  
}

.namemessage-container {
    width:250px;
}

.username-container {
    position: relative;
    margin-left: 30px;
    top: 15px;
    font-size: medium;
}

.messagetime-container {
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
    font-size: medium;
    color: #9b9b9b;
    width: 100%;
}

.time-container {
    margin-left: auto;  
}

img.icon {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius:50%;
    outline: solid;
    outline-color: #9b9b9b;
    outline-width: 1px;
}

a {
    text-decoration: none;
    color: black;
}