.container {
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
    
}

.button a {
    display: block;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    text-decoration: none;
}

.button a:visited {
    color: black;
}