.login-error {
    font-size: 12px;
    margin-left: 35px;
}

form {
    margin: 10px auto;
    margin-left: 25px;
}

th,td {
    padding: 10px; 
}

.submit {
    margin: 10px auto;
    font-size: 15px;
    display: block;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px;
}