form {
    margin: 10px auto;
}

th,td {
    padding: 10px; 
}

.submit {
    margin: 10px auto;
    font-size: 1rem;
    display: block;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
}