{% extends 'myapp/base.html' %}
{% load static %}

{% comment %} テンプレートフィルタ読み込み {% endcomment %}
{% load message_datetime %}

{% block extra_style %}
    <link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}" />
{% endblock %}

{% block header-title %}友達{% endblock %}

{% block content %}
    <form action="" method="get">
        <input name="query" value="{{ request.GET.query }}" type="text" />
        <button type="submit">検索</button>
    </form>

    {% for friend in friends %}
    <a href="/talk_room/{{ friend.pk }}">
    <div class="user-container">        
            <div class="icon-container"><img src="/media/{{ friend.img }}" class="icon"></div>
            <div class="namemessage-container">
                <div class="username-container">{{ friend.username }}</div>
                <div class="messagetime-container">
                    <div class="message-container">{{ friend.latest_message.text }}</div>
                    <div class="time-container">{{ friend.latest_message.timestamp|custom_datetime_display }}</div>
                </div>
            </div>
    </div>
    </a>
    {% endfor %}

{% endblock %}
