<!DOCTYPE html>
{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
   <link rel="stylesheet" href="{% static 'myapp/css/talk_room.css' %}">
{% endblock %}

{% block header-title %}相手{% endblock %}

{% block content %}

   {% for message in mymessages %}
   <div>
      <p>{{ message.message }}</p>
   </div>
   {% endfor %}
      
{% endblock %}


{% block footer %}

   <messageform method='post'>
   {% csrf_token %}
   {{ messageform.as_p }}
   <button type='submit'>送信</button>
   </messageform>

{% endblock %}
