<!DOCTYPE html>
{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
   <link rel="stylesheet" href="{% static 'myapp/css/talk_room.css' %}">
{% endblock %}

{% block header %}
<header class="header">
      <div class="header-container">
         <a href="{% url 'friends' %}">
            <div class="header-backlink-container">
               <
            </div>
         </a>
         <span class="header-container__title">
            {% block header-title %}{{ he.username }}{% endblock %}
         </span>
         <button class="header-reload-button" onclick="location.href=''">更新</button>
         {% comment %} TODO: 更新ボタンこれでいいのか？ {% endcomment %}
      </div>
   </header>
{% endblock %}



{% block content %}
   <div class="massage-container">
   {% for message in messages %}
      {% if message.sender == he %}
         <div class="hismessage-container">
            <div class="nameandtime-container">
               <div> > {{ message.sender }}</div>
               <div class="timestamp-container">{{ message.timestamp|date:"m/d H:i" }}</div>
            </div>
            <div>{{ message.text }}</div>
         </div>
      {% else %}
         <div class="mymessage-container">
            <div class="nameandtime-container">
               <div> > {{ message.sender }}</div>
               <div class="timestamp-container">{{ message.timestamp|date:"m/d H:i" }}</div>
            </div>
            <div>{{ message.text }}</div>
         </div>
      {% endif %}
   {% endfor %}
   </div> 
{% endblock %}


{% block footer %}
   <div class="footer-container">
      <form method='POST'>
         {% csrf_token %}
         <div class="form-container">
            {{ messageform.text }}
            <input type='submit' class="submit" value='送信'>
         </div>
      </form>
   <div>
{% endblock %}
