<!DOCTYPE html>
{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">
{% endblock %}

{% block header-title %}ユーザー名変更{% endblock %}

{% block content %}
     <form method='post' enctype="multipart/form-data">

          {% csrf_token %}

          <table>
          {% for filed in form %}
          <tr>
               <th>{{ filed.label_tag }}</th>
               <td>{{ filed }}</td>
          </tr>
          {% endfor %}
          </table>

          <button type="submit" class="submit">変更</button>

          {% for filed in form %}
               {% if filed.errors %}
                    {{ filed.errors }}
               {% endif %}
          {% endfor %}
          
     </form>
{% endblock %}
